@import 'variables';
@import 'helpers';

// adjustments
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
  overflow-x: hidden;

  //@media only screen and (max-width: $tablet) {
  //  font-size: 15px;
  //}
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: 'ProximaNova', 'Helvetica', sans-serif;
  background-color: $gray-bg;
}

ul {
  //list-style: none;
  margin: 0;
  //padding: 0;
}

a {
  text-decoration: none;
}

// main
.app-wrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.title {
  display: block;
  text-align: center;
  margin: .5rem 0;
  font-weight: bold;
  color: $black;
  @include container;
}

// nav
.nav {
  background-color: $blue-bg;
}

.nav__wrap {
  @include container;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav__item {
  //flex-grow: 1;
}

.nav__link {
  display: inline-block;
  cursor: pointer;
  color: $white;
  padding: .5rem 1rem;
  text-align: center;
  transition: $animation-time;

  &:hover {
    color: $black;
  }
}

// starships
.container {
  @include container;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.search-form {
  padding-bottom: 2rem;
}

.input-wrap {
  position: relative;
}

.input-wrap__clear {
  position: absolute;
  cursor: pointer;
  right: .3rem;
  top: 0;
}

.marked {
  background-color: $blue-bg;
  //color: $white;
}

.json {
  @include container($padding-sides: null);
  flex-basis: 100%;
  border-radius: .8rem;
  display: flex;
  position: relative;
  overflow: hidden;
  border: .4rem solid transparent;
  background-clip: padding-box;

  &:before,
  &:after {
    content: '';
    position: absolute;
    pointer-events: none;
    left: 0;
    right: .8rem;
    height: 1.5rem;
    z-index: 1;
  }

  &:before {
    top: 0;
    background-image: linear-gradient(to top, transparent 0%, $gray-devtool 100%);
  }

  &:after {
    bottom: 0;
    background-image: linear-gradient(to bottom, transparent 0%, $gray-devtool 100%);
  }
}

.json__inner {
  @include custom-scroll;
  white-space: pre-wrap;
  word-break: break-all;
  background-color: $gray-devtool;
  color: $white;
  font-size: .7rem;
  padding: .7rem;
  overflow-y: auto;
  margin: 0;
  width: 100%;
}