// colors
$black: #000;
$white: #fff;

$gray: #EEEEEE;
$gray-devtool: #232323;
$gray-bg: #8F8F8F;

$blue-bg: #118BCE;
$blue-label: #00AAD6;
$blue-toggle: #317CB5;
$blue-btn: #0A4C86;

$red: #CE000D;

//$gold: #E4B523;
//$dark-blue: #0A0E21;
//$blue-gray: #212435;
//$dark-gray: #444;
//$middle-gray: #5f727f;
//$light-gray: #b6c6c9;

// misc
$container-width: 40rem;
$tile-gutter: 15px;
$animation-time: .2s;